
body{
    background-color:#FFE0B5;
    color: #E87461;
    margin: 0;
}

#header-nav{
    background-color: #3F1651;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-align: center;
    align-content: end;
}

#head-nav{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#footer-nav{
    background-color: #bdf8fb;
    color: #9C3587;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
}


.contact-box{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
  
.contact-box > div {
    color: #E87461;
    padding: 20px 0;
    font-size: 20px;
  }

#top{
    text-align: center;
}


.contact-grid1 > div{
    width: 100%;
}


hr{
    background-color: #f89f5b;
    height: 2px;
    border: none;
    width: 100%;
}

a { 
    color: inherit;
    text-decoration: none; 
    margin: 10px;
    padding: 10px;
} 

a:hover{
    background-color: #FAA6FF;
    border-radius: 10px;
}