/* 
#853780 - KINGFISHER DAISY
#9C3587 - MEDIUM RED VIOLET
#E53F71 - CERISE
#f89f5b - SANDY BROWN
#3F1651 - PAUA
*/

body{
    background-color:#FFE0B5;
    color: #E87461;
    margin: 0;
}

#header-nav{
    background-color: #3F1651;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-align: center;
    align-content: end;
}

#head-nav, #foot-nav{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#welcome{
    background-color: #000000;
    color: #9C3587;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
}

#profilepic{
    border-radius: 150px;
    width: 300px;
}

.main-box{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;

}

  
.main-box > div {
    color: #f89f5b;
    padding: 150px 0;
    font-size: 15px;
  }

#main-box1{
    width: 400px;
}

#footer-nav{
    background-color: #3F1651;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
}

h2{
    color: #3F1651;
}

li{
    font-size:  20px;
    color:#f89f5b;
}

ul{
    font-size:  17px;
    color: #853780;
}

hr{
    background-color: #f89f5b;
    height: 2px;
    border: none;
    width: 100%;
}

a { 
    color: inherit;
    text-decoration: none; 
    margin: 10px;
    padding: 10px;
} 

a:hover{
    background-color: #FFE0B5;
    border-radius: 10px 10px 0 0;
}