/* 
#853780 - KINGFISHER DAISY
#9C3587 - MEDIUM RED VIOLET
#E53F71 - CERISE
#f89f5b - SANDY BROWN
#3F1651 - PAUA
*/

*{
    background-color: #0f0500;
}

#header-nav{
    background-color: #bdf8fb;
    color: #9C3587;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#welcome{
    background-color: #000000;
    color: #9C3587;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
}

#profilepic{
    border-radius: 150px;
    width: 300px;
}

.box{
    display: grid;
    grid-template-columns: 500px 50px;
    gap: 100px;
    padding: 5px 10px;
    justify-content: center;
}

  
.box > div {
    color: #f89f5b;
    padding: 150px 0;
    font-size: 15px;
  }

#box1{
    width: 400px;
}

#footer-nav{
    background-color: #bdf8fb;
    color: #9C3587;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: #3F1651;
}

li{
    font-size:  20px;
    color:#f89f5b;
}

ul{
    font-size:  17px;
    color: #853780;
}

hr{
    background-color: #f89f5b;
    height: 2px;
    border: none;
    width: 100%;
}

a { 
    color: inherit;
    text-decoration: none; 
    margin: 10px;
    padding: 10px;
} 

a:hover{
    background-color: #f89f5b;
    border-radius: 10px;
}